.container {
  min-width: 10px;
  height: 825px;
  max-width: 100%;
  background-color: #797978;
  padding-left: 30px;
  text-align: center;
  font-size: large;
}
#height,
#weight {
  width: 250px;
  height: 25px;
  margin-top: 50px;
}

#weight-guide {
  margin-left: 75px;
  margin-top: 25px;
}

#results {
  font-size: 35px;
  margin-left: 90px;
  margin-top: 20px;
  color: rgb(241, 241, 241);
}

button {
  width: 214px;
  height: 35px;
  margin-left: 24px;
  margin-top: 69px;
  background-color: #fff;
  padding: 0px 10px;
  border-radius: 8px;
  color: #1fd394;
  text-decoration: none;
  border: 2px solid #1fd383;
  font-size: 23px;
  background-color: #ee282380;
}

h1 {
  padding-left: 15px;
  padding-top: 25px;
  
}
